@model basicDesignForm.Models.ClsStudent;
@{
    ViewData["Title"] = "PostStudent";
}

<h1>PostStudent</h1>
<h2>Display data</h2>
<hr />
<h3>IDCard : @Model.IDCard</h3>
<h3>Name : @Model.Name</h3>
<h3>Gender : @Model.Gender</h3>
<h3>Address : @Model.Address</h3>
<h3>Phone : @Model.Phone</h3>
<h3>DOB : @Model.DOB</h3>

